body{
	background-color: #000000;
	margin: 0;
	padding: 0;
	nav{
		display: flex;
		justify-content: space-between;
		padding: 0 3rem;
		img{
			width: 15%;
		    height: 100%;
		    margin-top: 3rem;
		}
		ul{
			display: flex;
			margin-top: 3rem;
			li{
				font-family: sans-serif;
				font-size: 15px;
				margin: 15px;
				a{
					color: white;
					text-decoration: none;
				}
			}
		}
	}
	.home{
		.box{
			display: flex;
			.sec1{
				margin-top: 3rem;
				margin-left: 3rem;
				width: 70%;
				h3{
					color: #ffffff;
					font-size: 3rem;
					font-family: system-ui;
					margin: 1rem 0;
				}
				h4{
					color: #ffffff;
					font-size: 2rem;
					font-family: sans-serif;
					margin: 0 0 2rem;
				}
				p{
					color: #ffffff;
					font-family: sans-serif;
					width: 70%;
					line-height: 1.6;
				}
				.button{
					margin-top: 3rem;
					a{
						border: 1px solid white;
						border-radius: 10px;
						padding: 1rem 3rem;
						color: #ffffff;
						text-decoration: none;
						font-family: sans-serif;
						
					}
				}
			}
			.sec2{
				margin: 0 2rem;
				img{
					width: 100%;
				}
			}
			
		}
		.drinks{
			display: flex;
			justify-content: center;
			img{
				width: 5%;	
				transition: 0.3s ease;
			}
			img:hover{
				transform: translateY(-10px);
				-webkit-transform: translateY(-10px);
			}
		}
	}
}